*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body,html{
   width: 100%;
   height: 100%;
}

#minicircle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    z-index: 999999;
    border-radius: 50%;
}

#main{
    width: 100%;
    background-color: black;
    color: white;
}

#hero{
    position: relative;
    color: white;
    width: 100%;
    height: 100vh;
    background-color: black;

}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: white;
}

#nav a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.bounding{
    width: fit-content;
    overflow: hidden;
}

.bounding .boundingelem{
    transform: translateY(100%);
}

#heading{
    margin-top: 90px;
}

#heading h1{
    margin-left: 54px;
    font-size: 10vw;
    text-transform: uppercase;
    line-height: 1;
    opacity: .6;
    font-weight: lighter;
}

#heading #secondh1{
    margin-left: 135px;
}

.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}

.blocktext h5{
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
}

#smallheadings{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-right: 30px;
}

#smallheadings h5{
    text-transform: uppercase;
    margin-top: .5vw;
    font-size: 1vw;
    text-align: right;
}

#herofooter{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 3%;
    padding: 0 2.7vw;
}

#herofooter a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
#herofooter #iconset{
    display: flex;
    gap: 5px;
}

#herofooter .circle{
    width: 25px;
    height: 25px;
    background-color: #888;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section2{
    padding-left: 54px;
    padding-top: 200px;
    padding-right: 145px;
    width: 100%;
    /* height: 100vh; */
    background-color: black;
    color: #888;
}

.elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888;
}

.elem h1{
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: .7;
    font-weight: lighter;
    cursor:default;
}

.elem .elemlst{
    border-bottom: 1px solid #888;
}

.elem img{
    opacity: 0;
    height: 140%;
    position: absolute;
    pointer-events: none;
    z-index: 999;
    transform: translate(-50%,-50%);
}

#about{
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 50px;
    background-color: black;
    padding: 10vw 5vw;
    padding-left: 40vw;
}

#about img{
    width: 200px;
}

#textabout{
    width: 25rem;
    cursor: default;
}

#textabout h5{
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 10px;
}

#textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
}

#textabout a{
    padding: 12px 22px;
    border: 1px solid white;
    border-radius: 100px;
    color: white;
    font-size: 12px;
    text-decoration: none;
}

#subscribe{
    background-color: black;
    color: white;
    padding: 20px 30px;
    padding-bottom: 7vw;
}

#subscribe h5{
    text-transform: uppercase;
    opacity: .6;
}

#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
    background-color: black;
}

#footerLeft{
    display: flex;
    gap: 20px;
    color: white;
}

#footerLeft{
    display: flex;
    gap: 30px;
}

#footerRight a{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}